body {
  margin: 0;
  padding: 0;
  background: #fff;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a,
button {
  transition: all 0.3s ease-in-out;
  outline: none !important;
}

a {
  color: #fff;
}

a:focus {
  border: 2px solid orange;
}

ul {
  list-style-type: none;
  padding: 0 10px;
}

.bloc {
  width: 100%;
  clear: both;
  background: 50% 50% no-repeat;
  padding: 0 50px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
}

.bloc-lg {
  padding: 100px 50px;
}

.bloc-md {
  padding: 50px;
}

.bloc-sm {
  padding: 20px 50px;
}

.titlePng {
  max-width: 100%;
}

.bg-center,
.bg-l-edge,
.bg-r-edge,
.bg-t-edge,
.bg-b-edge,
.bg-tl-edge,
.bg-bl-edge,
.bg-tr-edge,
.bg-br-edge,
.bg-repeat {
  -webkit-background-size: auto !important;
  -moz-background-size: auto !important;
  -o-background-size: auto !important;
  background-size: auto !important;
}

.bg-repeat {
  background: repeat;
}

.bg-t-edge {
  background: top no-repeat;
}

.bloc-bg-texture::before {
  content: '';
  background-size: 2px 2px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.texture-paper::before {
  background: url('img/texture-paper.png');
  background-size: 280px 280px;
}

.b-parallax {
  background-attachment: fixed;
}

.d-bloc {
  color: rgba(255, 255, 255, 0.7);
}

.d-bloc .a-btn,
.d-bloc .navbar a,
.d-bloc .navbar-brand,
.d-bloc a .icon-sm,
.d-bloc a .icon-md,
.d-bloc a .icon-lg,
.d-bloc a .icon-xl,
.d-bloc h1 a,
.d-bloc h2 a,
.d-bloc h3 a,
.d-bloc h4 a,
.d-bloc h5 a,
.d-bloc h6 a,
.d-bloc p a {
  color: rgba(255, 255, 255, 0.6);
}

.d-bloc .panel,
.l-bloc {
  color: #000000;
}

.d-bloc .panel .a-btn,
.l-bloc .a-btn,
.l-bloc .navbar a,
.l-bloc .navbar-brand,
.l-bloc a .icon-sm,
.l-bloc a .icon-md,
.l-bloc a .icon-lg,
.l-bloc a .icon-xl,
.l-bloc h1 a,
.l-bloc h2 a,
.l-bloc h3 a,
.l-bloc h4 a,
.l-bloc h5 a,
.l-bloc h6 a,
.l-bloc p a {
  color: rgba(0, 0, 0, 0.6);
}

.l-bloc .navbar-toggle .icon-bar {
  color: rgba(0, 0, 0, 0.6);
}

.voffset {
  margin-top: 30px;
}

.voffset-lg {
  margin-top: 80px;
}

.rowLinks {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.row-no-gutters {
  margin-right: 0;
  margin-left: 0;
}

#bloc-2-services p {
  font-size: 11px;
}

.navbar {
  margin-bottom: 0;
  z-index: 1;
}

.navbar-brand {
  height: auto;
  padding: 3px 15px;
  font-size: 25px;
  font-weight: normal;
  font-weight: 600;
  line-height: 44px;
}

.navbar-brand img {
  max-height: 200px;
  margin: 0 5px 0 0;
  display: inline;
}

.navbar-toggle {
  margin: 10px 10px 0 0;
  border: 0px;
}

.navbar-toggle .icon-bar {
  background-color: rgba(0, 0, 0, 0.5);
  width: 26px;
}

.mg-md {
  margin-top: 10px;
  margin-bottom: 20px;
}

.btn {
  margin: 0 5px 5px 0;
}

button {
  outline: none !important;
}

.btn-rd {
  border-radius: 40px;
}

.btn-clean {
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-bottom-color: rgba(0, 0, 0, 0.1);
  text-shadow: 0 1px 0 rgba(0, 0, 1, 0.1);
  box-shadow: 0 1px 3px rgba(0, 0, 1, 0.25),
    inset 0 1px 0 0 rgba(255, 255, 255, 0.15);
}

.icon-md {
  font-size: 30px !important;
}

.icon-lg {
  font-size: 60px !important;
}

.sm-shadow {
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}

a[data-lightbox] {
  position: relative;
  display: block;
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
label,
.btn,
a {
  font-family: 'helvetica';
  font-weight: 400;
}

.container {
  max-width: 1000px;
}

.hero-bloc-text {
  font-size: 38px;
}

p {
  font-size: 12px;
}

.tight-width-whitespace {
  max-width: 600px;
  margin: auto auto auto auto;
}

.cta-hero {
  margin-top: 22px;
  color: #ffffff !important;
  text-transform: uppercase;
  padding: 12px 28px 12px 28px;
  font-size: 1em;
  font-weight: 700;
}

.social {
  max-width: 400px;
  margin: auto auto auto auto;
}

h2 {
  font-size: 22px;
  line-height: 1.4em;
}

h3 {
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #333333 !important;
}

.med-width-whitespace {
  max-width: 800px;
  margin: auto auto auto auto;
  box-shadow: 0px 0px 0px #000000;
}

.icons {
  margin-bottom: 14px;
  margin-top: 24px;
}

.white {
  color: #ffffff !important;
}

.portfolio-thumb {
  margin-bottom: 24px;
}

.portfolio-row {
  margin-bottom: 44px;
  margin-top: 50px;
}

.black-background {
  background-color: rgba(35, 31, 32, 0.7);
  padding: 40px 40px 40px 40px;
}

.bold-link {
  font-weight: 900;
  text-decoration: underline !important;
}

.service-header {
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
}

.bgc-white {
  background-color: #ffffff;
}

.bgc-dark-slate-blue {
  background-color: #364577;
}

.bgc-atomic-tangerine {
  background-color: #f3976c;
}

.tc-white {
  color: #ffffff;
}

.btn-atomic-tangerine {
  background: #f3976c;
  color: #ffffff !important;
}

.ltc-white {
  color: #ffffff !important;
}

.icon-dark-slate-blue {
  color: #364577 !important;
  border-color: #364577 !important;
}

.bg-lines-h2-bg {
  background-image: url('img/lines-h2-bg.png');
}

.bg-atlanta-20made-20sign {
  background-image: url('img/atlanta%20made%20sign.jpg');
}

.bg-atlanta-20made-20sign-20orange {
  background-image: url('img/atlanta%20made%20sign%20orange.jpg');
}

.bloc {
  padding-left: 20px;
  padding-right: 20px;
}

.container {
  width: 100%;
}
.b-parallax {
  background-attachment: scroll;
}
.page-container,
#hero-bloc {
  overflow-x: hidden;
  position: relative;
}
.bloc {
  padding-left: constant(safe-area-inset-left);
  padding-right: constant(safe-area-inset-right);
}

.page-container {
  overflow-x: hidden;
  position: relative;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
#disqus_thread {
  padding-left: 10px !important;
  padding-right: 10px !important;
}
.b-parallax {
  background-attachment: scroll;
}

.navbar.row {
  margin-left: 0;
  margin-right: 0;
}

.navbar-collapse {
  padding: 0;
  overflow-x: hidden;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.navbar-brand img {
  max-height: 40px;
  width: auto;
}

.bloc {
  padding-left: 0;
  padding-right: 0;
}
.bloc-xxl,
.bloc-xl,
.bloc-lg {
  padding: 40px 0;
}
.bloc-sm,
.bloc-md {
  padding-left: 0;
  padding-right: 0;
}

.voffset {
  margin-top: 5px;
}

.voffset-lg {
  margin-top: 30px;
}
